<div class="flex flex-col gap-8">
    <ul *ngIf="benefitsList.length > 0" class="flex flex-col border rounded-lg bg-slate-400 w-full gap-2 p-4">
        <li class="shadow-2xl p-4 flex justify-between items-center" *ngFor="let item of benefitsList">
            <p>{{item?.benefit}}</p>
            <input type="checkbox" class="h-4 w-4 cursor-pointer" value={{item.id}} (click)="addIdArray($event)">
        </li>
    </ul>
    <app-loader *ngIf="isLoading"></app-loader>
    <button class="bg-blue-950 text-white rounded-full px-4 py-2 cursor-pointer" type="button" (click)="getBenefits()">
        Get benefits
    </button>
    <button class="bg-blue-950 text-white rounded-full px-4 py-2 cursor-pointer" type="button" (click)="sendBenefits()">
        Add selected
    </button>
</div>